.page_pageWrapper__BS_q5 {
    padding: 0 30%
}

.page_pagetitle__6xTVg {
    font-size: 40px;
    font-weight: 700
}

.page_nav__u_nAs {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 20px
}

.page_navItem__0pZL_ {
    cursor: pointer;
    white-space: nowrap
}

.page_navItem__0pZL_.page_focus__NCT1I {
    font-weight: 700;
    color: #fff
}

.page_pageHeader__lS7e1 {
    width: 100%;
    text-align: left;
    color: #fff;
    margin-bottom: 4%
}


.gradient_gradient__QVNR2 {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 77px;
    z-index: -1;
    transition: opacity .25s linear;
    opacity: 1;
    background: linear-gradient(180deg, rgba(19, 26, 30, .85), rgba(19, 26, 30, 0))
}

.gradient_gradient__QVNR2.gradient_hidden__2ve3E {
    opacity: 0
}


.headlines_list__aXQGc {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: #fff;
    padding: 20px 0
}

.headlines_list__aXQGc>* {
    animation: headlines_appear__0kYrh 1s ease-out forwards;
    opacity: 0
}

.headlines_list__aXQGc>:first-child {
    animation-delay: .1s
}

.headlines_list__aXQGc>:nth-child(2) {
    animation-delay: .2s
}

.headlines_list__aXQGc>:nth-child(3) {
    animation-delay: .3s
}

.headlines_list__aXQGc>:nth-child(4) {
    animation-delay: .4s
}

.headlines_list__aXQGc>:nth-child(5) {
    animation-delay: .5s
}

.headlines_list__aXQGc>:nth-child(6) {
    animation-delay: .6s
}

.headlines_list__aXQGc>:nth-child(7) {
    animation-delay: .7s
}

.headlines_list__aXQGc>:nth-child(8) {
    animation-delay: .8s
}

.headlines_list__aXQGc>:nth-child(9) {
    animation-delay: .9s
}

.headlines_list__aXQGc>:nth-child(10) {
    animation-delay: 1s
}

.headlines_list__aXQGc>:nth-child(11) {
    animation-delay: 1.1s
}

.headlines_list__aXQGc>:nth-child(12) {
    animation-delay: 1.2s
}

.headlines_list__aXQGc>:nth-child(13) {
    animation-delay: 1.3s
}

.headlines_list__aXQGc>:nth-child(14) {
    animation-delay: 1.4s
}

.headlines_list__aXQGc>:nth-child(15) {
    animation-delay: 1.5s
}

.headlines_list__aXQGc>:nth-child(16) {
    animation-delay: 1.6s
}

.headlines_list__aXQGc>:nth-child(17) {
    animation-delay: 1.7s
}

.headlines_list__aXQGc>:nth-child(18) {
    animation-delay: 1.8s
}

.headlines_list__aXQGc>:nth-child(19) {
    animation-delay: 1.9s
}

.headlines_list__aXQGc>:nth-child(20) {
    animation-delay: 2s
}

.headlines_list__aXQGc>:nth-child(21) {
    animation-delay: 2.1s
}

.headlines_list__aXQGc>:nth-child(22) {
    animation-delay: 2.2s
}

.headlines_list__aXQGc>:nth-child(23) {
    animation-delay: 2.3s
}

.headlines_list__aXQGc>:nth-child(24) {
    animation-delay: 2.4s
}

.headlines_list__aXQGc>:nth-child(25) {
    animation-delay: 2.5s
}

.headlines_list__aXQGc>:nth-child(26) {
    animation-delay: 2.6s
}

.headlines_list__aXQGc>:nth-child(27) {
    animation-delay: 2.7s
}

.headlines_list__aXQGc>:nth-child(28) {
    animation-delay: 2.8s
}

.headlines_list__aXQGc>:nth-child(29) {
    animation-delay: 2.9s
}

.headlines_list__aXQGc>:nth-child(30) {
    animation-delay: 3s
}

.headlines_nav__jvDdm {
    display: flex;
    flex-direction: row
}

.headlines_tileThumbnail__ipkKH {
    border-radius: 8px;
    -o-object-fit: cover;
    object-fit: cover;
    margin: 8px;
    width: 250px;
    height: 250px
}

.headlines_postedTs__gYXir {
    margin: 2px 0;
    color: #ababab;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal
}

@keyframes headlines_appear__0kYrh {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.headlines_pageHeader__buyUA {
    width: 100%;
    text-align: left;
    color: #fff;
    margin-bottom: 4%
}

.headlines_tile__NCloE {
    transition: height .25s ease-out;
    border-radius: 16px;
    border: 1px solid #28282c;
    background: #161618;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    cursor: pointer
}

.headlines_title__Qdstr {
    margin: 2px 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px
}

.headlines_hook__J48Cz {
    margin: 2px 0;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal
}

.headlines_readMore__Cbo57 {
    font-size: small;
    font-weight: 600;
    margin: 2px 0;
    cursor: pointer
}

.headlines_contentWrapper__HQhcp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 0 20px;
    gap: 5px
}

.headlines_postContentWrapper__5b_jX {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    gap: 15px
}

.headlines_miniPost__p_PTk {
    border: .5px solid #28282c;
    background: #1a1a1e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 10px;
    gap: 5px;
    line-height: 1.1;
    border-radius: 8px;
    cursor: pointer
}

.headlines_postAuthorName__r7gNy {
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px
}

.headlines_postText__Oyb1m {
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: .2px
}

.headlines_postHandle__2vfj6 {
    color: #536471;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px
}

.headlines_postHeader__i_Qp_ {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center
}

.headlines_postAvatar__EQ71q {
    width: 10px;
    height: 10px;
    border-radius: 20px
}


.site-header_header__PTnp0 {
    min-height: 77px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    background: #050505
}

.site-header_header__PTnp0 .site-header_foreground__etqdK {
    min-height: 77px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.site-header_header__PTnp0.site-header_mobile__1Lqde {
    z-index: 2
}

.site-header_header__PTnp0 a {
    color: #9fa1a3
}

.site-header_placeholder__KcA86 {
    flex: 0 0 77px
}

.site-header_logo__QGAGJ {
    padding-right: 1.5rem
}

.site-header_logo__QGAGJ a {
    line-height: 1
}

.site-header_logoLink__9rqP5 {
    display: block;
    height: 32px
}

.site-header_mainNav__M1I3L {
    flex: 1;
    gap: 21px;
    align-items: center
}

.site-header_integrations__Za5ws {
    align-items: center;
    gap: 21px
}

.site-header_search__jbR7e {
    flex: 1
}

.site-header_integrations__Za5ws,
.site-header_mainNav__M1I3L {
    display: flex;
    line-height: 1
}

.site-header_integrations__Za5ws svg,
.site-header_mainNav__M1I3L svg {
    line-height: 0
}

.site-header_integrations__Za5ws a:not(.site-header_logoLink__9rqP5),
.site-header_mainNav__M1I3L a:not(.site-header_logoLink__9rqP5) {
    display: block;
    position: relative;
    text-decoration: none
}

.site-header_integrations__Za5ws a:not(.site-header_logoLink__9rqP5).site-header_primary__Ud8KI,
.site-header_mainNav__M1I3L a:not(.site-header_logoLink__9rqP5).site-header_primary__Ud8KI {
    color: #e7e8e8
}

.site-header_integrations__Za5ws a:not(.site-header_logoLink__9rqP5):after,
.site-header_mainNav__M1I3L a:not(.site-header_logoLink__9rqP5):after {
    content: " ";
    bottom: -8px;
    left: -4px;
    right: -4px;
    position: absolute;
    border-top: 2px solid #fff;
    transform: scaleX(0);
    transform-origin: right center;
    transition: transform .6s cubic-bezier(.19, 1, .22, 1)
}

.site-header_integrations__Za5ws a:not(.site-header_logoLink__9rqP5).site-header_active___LqO0,
.site-header_integrations__Za5ws a:not(.site-header_logoLink__9rqP5):hover,
.site-header_mainNav__M1I3L a:not(.site-header_logoLink__9rqP5).site-header_active___LqO0,
.site-header_mainNav__M1I3L a:not(.site-header_logoLink__9rqP5):hover {
    text-decoration: none;
    color: #fff
}

.site-header_integrations__Za5ws a:not(.site-header_logoLink__9rqP5).site-header_active___LqO0:after,
.site-header_integrations__Za5ws a:not(.site-header_logoLink__9rqP5):hover:after,
.site-header_mainNav__M1I3L a:not(.site-header_logoLink__9rqP5).site-header_active___LqO0:after,
.site-header_mainNav__M1I3L a:not(.site-header_logoLink__9rqP5):hover:after {
    transition-duration: .4s;
    transform: scaleX(1);
    transform-origin: left center
}

.site-header_integrations__Za5ws a:not(.site-header_logoLink__9rqP5).site-header_active___LqO0:after,
.site-header_mainNav__M1I3L a:not(.site-header_logoLink__9rqP5).site-header_active___LqO0:after {
    border-top-color: #2196f3
}

.site-header_mobileNav__duaY_ {
    position: fixed;
    top: 77px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    background: rgba(0, 0, 0, .9);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    opacity: 0;
    animation: site-header_appear__kBkGR .25s ease-out forwards;
    overflow-y: auto
}

.site-header_mainMobileNav__qFKQi ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: .5rem
}

.site-header_mainMobileNav__qFKQi li {
    margin: 0;
    padding: 0
}

.site-header_mainMobileNav__qFKQi a {
    font-size: 1.75rem;
    color: #e7e8e8
}

.site-header_mainMobileNav__qFKQi.site-header_secondary__RxHG5 {
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 1px solid #9fa1a3
}

.site-header_mainMobileNav__qFKQi.site-header_secondary__RxHG5 a {
    font-size: 1.25rem;
    color: #9fa1a3
}

.site-header_menuBtn__iQKk8 {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    color: #e7e8e8
}

.site-header_menuBtn__iQKk8:hover {
    text-decoration: underline
}

@keyframes site-header_appear__kBkGR {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}


.error_error__fAeCF {
    padding: 25px;
    border: 1px solid darkred;
    color: #fff;
    margin-bottom: 25px
}

.error_error__fAeCF .error_debug__eLpuZ {
    word-break: break-all
}

.error_face__9Rf8y {
    display: flex;
    justify-content: center;
    margin-bottom: 25px
}